# Jeopardy Questions

In [1]:
import pandas as pd
jeopardy = pd.read_csv('jeopardy.csv')
jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [2]:
#some columns have spaces in the front
print(jeopardy.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [3]:
# strip white spaces
jeopardy.columns = [text.strip() for text in jeopardy.columns]

print(jeopardy.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

# Normalizing text
Remove punctuations from **Question** and **Answer** columns and convert the text to lower case

In [4]:
from string import punctuation

def normalize_text(text):
    # convert to lowercase.
    text = text.lower()
    # Remove punctuations.
    text = text.translate(str.maketrans('', '', punctuation))
    
    return text

jeopardy['clean_question'] = jeopardy['Question'].apply(normalize_text)
jeopardy['clean_answer'] = jeopardy['Answer'].apply(normalize_text)

jeopardy.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,for the last 8 years of his life galileo was u...,copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,no 2 1912 olympian football star at carlisle i...,jim thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,the city of yuma in this state has a record av...,arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,in 1963 live on the art linkletter show this c...,mcdonalds
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,signer of the dec of indep framer of the const...,john adams

# Normalizing columns
 - convert the **Value** column to numeric. 
 - convert the **Air Date** column to datetime.

In [5]:
def normalize_value(text):
    
    #remove punctuation from value.
    text = text.translate(str.maketrans('','',punctuation))
    try:
        text = int(text)
    except Exception:
        text = 0
       
    return text

jeopardy['clean_value'] = jeopardy['Value'].apply(normalize_value)

# convert Air Date to datetime format.
jeopardy['Air Date'] = pd.to_datetime(jeopardy['Air Date'])

jeopardy.iloc[30:120]

,Show Number,Air Date,Round,Category,Value,Question,Answer,clean_question,clean_answer,clean_value
30,4680,2004-12-31,Double Jeopardy!,PRESIDENTIAL STATES OF BIRTH,$400,California,Nixon,california,nixon,400
31,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$400,It can be a place to leave your puppy when you...,a kennel,it can be a place to leave your puppy when you...,a kennel,400
32,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$400,"He's considered the author of the Pentateuch, ...",Moses,hes considered the author of the pentateuch wh...,moses,400
33,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$400,Steven Tyler of this band lent his steamin' vo...,Aerosmith,steven tyler of this band lent his steamin voc...,aerosmith,400
34,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$400,Around 100 A.D. Tacitus wrote a book on how th...,oratory,around 100 ad tacitus wrote a book on how this...,oratory,400
35,4680,2004-12-31,Double Jeopardy!,PRESIDENTIAL STATES OF BIRTH,$800,1 of the 2 born in Vermont,Coolidge (or Chester Arthur),1 of the 2 born in vermont,coolidge or chester arthur,800
36,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$800,When it began on Pan Am & Qantas in the late '...,business class,when it began on pan am qantas in the late 70...,business class,800
37,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$800,"Ali, who married this man's daughter Fatima, i...",Muhammed,ali who married this mans daughter fatima is c...,muhammed,800
38,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$800,"During the 1954-1955 Sun sessions, Elvis climb...","the ""Mystery Train""",during the 19541955 sun sessions elvis climbed...,the mystery train,800
39,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$800,"The shorter glass seen <a href=""http://www.j-a...",an old-fashioned,the shorter glass seen a hrefhttpwwwjarchiveco...,an oldfashioned,800
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-1...",Yertle,a hrefhttpwwwjarchivecommedia20041231dj26mp3ri...,yertle,1200
41,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,"$2,000","In 2003 this airline agreed to buy KLM, creati...",Air France,in 2003 this airline agreed to buy klm creatin...,air france,2000
42,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$1200,Philadelphia got its start as a colony for thi...,the Quakers,philadelphia got its start as a colony for thi...,the quakers,1200
43,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$1200,"This ""Modern Girl"" first hit the Billboard Top...",(Sheena) Easton,this modern girl first hit the billboard top 1...,sheena easton,1200
44,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$1200,This stiff silken fabric is favored for bridal...,organza,this stiff silken fabric is favored for bridal...,organza,1200
45,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1600,"<a href=""http://www.j-archive.com/media/2004-1...",Mulberry Street,a hrefhttpwwwjarchivecommedia20041231dj25mp3so...,mulberry street,1600
46,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$1600,In 2004 United launched this new service that ...,Ted,in 2004 united launched this new service that ...,ted,1600
47,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$1600,With Mary I's accession in 1553 he ran to Gene...,(John) Knox,with mary is accession in 1553 he ran to genev...,john knox,1600
48,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$1600,"This band's ""Train In Vain"" was a hidden track...",The Clash,this bands train in vain was a hidden track on...,the clash,1600
49,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$1600,Cross-country skiing is sometimes referred to ...,XC,crosscountry skiing is sometimes referred to b...,xc,1600
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-1...",Bartholomew Cubbins,a hrefhttpwwwjarchivecommedia20041231dj24mp350...,bartholomew cubbins,2000
51,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$2000,In the seat pocket you'll find the catalog cal...,Mall,in the seat pocket youll find the catalog call...,mall,2000
52,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,"$3,200",In 1534 he & his buddy Francis Xavier founded ...,(St. Ignatius) Loyola,in 1534 he his buddy francis xavier founded t...,st ignatius loyola,3200
53,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$2000,"In 1961 James Brown announced ""all aboard"" for...","""Night Train""",in 1961 james brown announced all aboard for t...,night train,2000
54,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$2000,This 1797 imbroglio began when 3 French agents...,the XYZ Affair,this 1797 imbroglio began when 3 french agents...,the xyz affair,2000
55,4680,2004-12-31,Final Jeopardy!,THE SOLAR SYSTEM,None,Objects that pass closer to the sun than Mercu...,Icarus,objects that pass closer to the sun than mercu...,icarus,0
56,5957,2010-07-06,Jeopardy!,"GEOGRAPHY ""E""",$200,It's the largest kingdom in the United Kingdom,England,its the largest kingdom in the united kingdom,england,200
57,5957,2010-07-06,Jeopardy!,RADIO DISNEY,$200,"""Party In The U.S.A."" is by this singer who al...",Miley Cyrus,party in the usa is by this singer who also pl...,miley cyrus,200
58,5957,2010-07-06,Jeopardy!,PARTS OF PEACH,$200,"If this part of a peach is downy or fuzzy, the...",the skin,if this part of a peach is downy or fuzzy the ...,the skin,200
59,5957,2010-07-06,Jeopardy!,BE FRUITFUL & MULTIPLY,$200,4 x 12,48,4 x 12,48,200
...,...,...,...,...,...,...,...,...,...,...
90,5957,2010-07-06,Double Jeopardy!,NEWS TO ME,$400,A 7.0 magnitude earthquake in this Caribbean c...,Haiti,a 70 magnitude earthquake in this caribbean co...,haiti,400
91,5957,2010-07-06,Double Jeopardy!,IN THE DICTIONARY,$400,It's the 4-letter name of the pleated skirt wo...,a kilt,its the 4letter name of the pleated skirt worn...,a kilt,400
92,5957,2010-07-06,Double Jeopardy!,SCIENCE CLASS,$800,"During this plant process, carbon dioxide & wa...",photosynthesis,during this plant process carbon dioxide wate...,photosynthesis,800
93,5957,2010-07-06,Double Jeopardy!,KIDS IN SPORTS,$800,The perfect waves of New Zealand's Piha Beach ...,surfing,the perfect waves of new zealands piha beach w...,surfing,800
94,5957,2010-07-06,Double Jeopardy!,JUST THE FACTS,$800,"This city, the seat of Clark County, Nevada, h...",Las Vegas,this city the seat of clark county nevada has ...,las vegas,800
95,5957,2010-07-06,Double Jeopardy!,SEE & SAY,$800,"Say <a href=""http://www.j-archive.com/media/20...",Oregon,say a hrefhttpwwwjarchivecommedia20100706dj27j...,oregon,800
96,5957,2010-07-06,Double Jeopardy!,NEWS TO ME,$800,This car company has been in the news for wide...,Toyota,this car company has been in the news for wide...,toyota,800
97,5957,2010-07-06,Double Jeopardy!,IN THE DICTIONARY,$800,"As an adjective, it can mean proper; as a verb...",correct,as an adjective it can mean proper as a verb t...,correct,800
98,5957,2010-07-06,Double Jeopardy!,SCIENCE CLASS,$1200,The wedge is an adaptation of the simple machi...,plane,the wedge is an adaptation of the simple machi...,plane,1200
99,5957,2010-07-06,Double Jeopardy!,KIDS IN SPORTS,$1200,"With a mighty leap of 5'1"", David Mosely set t...",the high jump,with a mighty leap of 51 david mosely set the ...,the high jump,1200
100,5957,2010-07-06,Double Jeopardy!,JUST THE FACTS,$1200,"<a href=""http://www.j-archive.com/media/2010-0...",a German Shepherd,a hrefhttpwwwjarchivecommedia20100706dj14jpg t...,a german shepherd,1200
101,5957,2010-07-06,Double Jeopardy!,SEE & SAY,$1200,"Say the name of <a href=""http://www.j-archive....",the dragonfly,say the name of a hrefhttpwwwjarchivecommedia2...,the dragonfly,1200
102,5957,2010-07-06,Double Jeopardy!,NEWS TO ME,$1200,"(<a href=""http://www.j-archive.com/media/2010-...",Dracula,a hrefhttpwwwjarchivecommedia20100706dj21wmvji...,dracula,1200
103,5957,2010-07-06,Double Jeopardy!,IN THE DICTIONARY,$1200,Maize is another word for this,corn,maize is another word for this,corn,1200
104,5957,2010-07-06,Double Jeopardy!,SCIENCE CLASS,"$5,000","Of the 6 noble gases on the periodic table, it...",helium,of the 6 noble gases on the periodic table it ...,helium,5000
105,5957,2010-07-06,Double Jeopardy!,KIDS IN SPORTS,$1600,11-year-old Ashlyn White won a 2009 U.S. youth...,judo,11yearold ashlyn white won a 2009 us youth tit...,judo,1600
106,5957,2010-07-06,Double Jeopardy!,JUST THE FACTS,$1600,In 1751 the Penn Provincial Assembly placed th...,the Liberty Bell,in 1751 the penn provincial assembly placed th...,the liberty bell,1600
107,5957,2010-07-06,Double Jeopardy!,SEE & SAY,$1600,"Say the name of <a href=""http://www.j-archive....",redwood,say the name of a hrefhttpwwwjarchivecommedia2...,redwood,1600
108,5957,2010-07-06,Double Jeopardy!,NEWS TO ME,$1600,"In a surprise, Ted Kennedy's old Senate seat i...",Massachusetts,in a surprise ted kennedys old senate seat in ...,massachusetts,1600
109,5957,2010-07-06,Double Jeopardy!,IN THE DICTIONARY,"$5,000",This word for someone who walks comes from the...,pedestrian,this word for someone who walks comes from the...,pedestrian,5000
110,5957,2010-07-06,Double Jeopardy!,SCIENCE CLASS,$2000,Lava & igneous rock are formed from this hot l...,magma,lava igneous rock are formed from this hot li...,magma,2000
111,5957,2010-07-06,Double Jeopardy!,KIDS IN SPORTS,$2000,This sport has an under-17 World Cup every 2 y...,soccer,this sport has an under17 world cup every 2 ye...,soccer,2000
112,5957,2010-07-06,Double Jeopardy!,JUST THE FACTS,$2000,He's the older son of Prince Charles and the l...,Prince William,hes the older son of prince charles and the la...,prince william,2000
113,5957,2010-07-06,Double Jeopardy!,SEE & SAY,$2000,"Say the name of <a href=""http://www.j-archive....",Ronald Reagan,say the name of a hrefhttpwwwjarchivecommedia2...,ronald reagan,2000
114,5957,2010-07-06,Double Jeopardy!,NEWS TO ME,$2000,"Falcon Heene, who it turned out was safe at ho...",the balloon boy,falcon heene who it turned out was safe at hom...,the balloon boy,2000
115,5957,2010-07-06,Double Jeopardy!,IN THE DICTIONARY,$2000,"Kayak is an example of this, a word that reads...",a palindrome,kayak is an example of this a word that reads ...,a palindrome,2000
116,5957,2010-07-06,Final Jeopardy!,HISTORIC WOMEN,None,She was born in Virginia around 1596 & died in...,Pocahontas,she was born in virginia around 1596 died in ...,pocahontas,0
117,3751,2000-12-18,Jeopardy!,ROYAL FEMALE NICKNAMES,$100,"Prime Minister Tony Blair dubbed her ""The Peop...",Princess Diana,prime minister tony blair dubbed her the peopl...,princess diana,100
118,3751,2000-12-18,Jeopardy!,TV ACTORS & ROLES,$100,"Once Tommy Mullaney on ""L.A. Law"", John Spence...",The West Wing,once tommy mullaney on la law john spencer now...,the west wing,100
119,3751,2000-12-18,Jeopardy!,TRAVEL & TOURISM,$100,The Cinderella Castle Mystery Tour is a highli...,Tokyo,the cinderella castle mystery tour is a highli...,tokyo,100

In [6]:
jeopardy.dtypes

Show Number                int64
Air Date          datetime64[ns]
Round                     object
Category                  object
Value                     object
Question                  object
Answer                    object
clean_question            object
clean_answer              object
clean_value                int64
dtype: object

# Answer in questions
we will count how many words in the answer match the words in the question. 
This will help us determine if it is necessary to study or one can guess the answer just by looking at the question.

In [7]:
def count_matches(row):
    
    # split question and answers ino seperate words.
    split_answer = row['clean_answer'].split(' ')
    split_question = row['clean_question'].split(' ')
    match_count = 0
    
    # check if 'the is present in answer list.
    if 'the' in split_answer:
        # if 'the' is present remove it from the answer list.
        split_answer = [word for word in split_answer if word != 'the']
    # check if length of list is 0    
    if len(split_answer) == 0:
        return 0

    # count the number of times each word in the answer appears in the question.
    for word in split_answer:
        if word in split_question:
            match_count += 1
    # percentage of words in split_answer that are present in split_question.    
    return match_count / len(split_answer) 

jeopardy['answer_in_question'] = jeopardy.apply(count_matches, axis=1)

jeopardy['answer_in_question'].mean()

0.05973712438535688

Thus, on an average 6% of the words are common between the questions and the answers. This isn't a huge number, and means that we probably can't just hope that hearing a question will enable us to figure out the answer. We'll probably have to study.

# Recycled questions
we want to see how often new questions are repeats of older ones.

In [8]:
# it is a list that calculates the proportion of total words in each question that are present in terms used.
question_overlap = []

#it is set that is used to store new words that occur in each question.
terms_used = set()
 
# iterating rows in jeopardy.
for i, row in jeopardy.iterrows():
    
    # split clean_question into individual words.
    split_question = row['clean_question'].split(' ')
    # only retaining words with length greater than 5.
    split_question = [word for word in split_question if len(word)>=6]
    
    match_count = 0
    
    # Iterating through split_question.
    for word in split_question:
        # check if word occurs in terms_used
        if word in terms_used:
            match_count += 1 # increment counter.
        # add each word in split_question to terms_used. set does not have duplicates.    
        terms_used.add(word)   
       
    # percentage of words in split_questions that are present in terms_used.
    if len(split_question) > 0:
        match_count /= len(split_question)
    
    question_overlap.append(match_count)

jeopardy['question_overlap'] = question_overlap
jeopardy['question_overlap'].mean()

0.6919577992203563

## Question overlap
There is about 70% overlap between terms in new questions and terms in old questions. This only looks at a small set of questions, and it doesn't look at phrases, it looks at single terms. This makes it relatively insignificant, but it does mean that it's worth looking more into the recycling of questions.

# Low value vs high value questions

In [9]:
# classify rows based on their question value
def determine_value(row):
    # check value
    if row['clean_value'] > 800:
        value = 1
    else:
        value = 0
       
    return value

jeopardy['high_value'] = jeopardy.apply(determine_value, axis=1)

In [10]:
# count the number of times a term occurs in low value and high value questions.
def count_usage(term):
    
   # initialise counts.
    low_count = 0 # number of times the term occurs in low value question.
    high_count = 0 # number of times the term occurs in a high value question.
    
   # Iterate through rows.
    for i, row in jeopardy.iterrows():
        
        # split clean_question into individual words.
        split_question = row['clean_question'].split(' ')
        
        # check if term occurs in split_question.
        if term in split_question:
            
            # check value of the question
            if row['high_value'] == 1:
                high_count += 1 
            else:
                low_count += 1
                   
    return high_count, low_count       
            
#we only pass the first 5 terms for terms_used.
comparison_terms = list(terms_used)[:5]
observed_high_low_count = [count_usage(term) for term in comparison_terms]
observed_high_low_count

[(1, 0), (0, 1), (0, 1), (1, 5), (0, 2)]

# Applying the chi-squared test

In [11]:
from scipy.stats import chisquare
import numpy as np
# number of high value questions.
high_value_count = jeopardy[jeopardy["high_value"] == 1].shape[0]

# number of low value questions.
low_value_count = jeopardy[jeopardy["high_value"] == 0].shape[0]

chi_squared = []
for obs in observed_high_low_count:
    
    # total number of questions that the term occured in.
    total = sum(obs)
    
    # proportion of questions that the term occured in.
    total_prop = total / jeopardy.shape[0]
    
    # expected high value count.
    high_value_exp = total_prop * high_value_count
    
    # expected low value count.
    low_value_exp = total_prop * low_value_count
    
    observed = np.array([obs[0], obs[1]])
    expected = np.array([high_value_exp, low_value_exp])
    chi_squared.append(chisquare(observed, expected))

chi_squared

[Power_divergenceResult(statistic=2.4877921171956752, pvalue=0.11473257634454047),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.40196284612688399, pvalue=0.52607729857054686),
 Power_divergenceResult(statistic=0.42281054506129573, pvalue=0.51553795812945302),
 Power_divergenceResult(statistic=0.80392569225376798, pvalue=0.36992223780795708)]